.contact__input_chkbox{
    content: '3';
    appearance: none;
    width: 24px;
    height: 24px;
    border-radius: 4px;
    border-style: solid;
    border-color: var(--primary-colors-oceanic, #405d65);
    border-width: 2px;
    margin-right: 16px;
    position: relative;
    overflow: hidden;
  }

.contact__input_chkbox:checked::after{
  content: "\2714";
  position: absolute;
  top: -5px;
  left: 0px;
  width: 0px;
  height: 0px;
  font-size: 22px;
  transition: 500ms;
}


  @media screen and (max-width: 500px) {
    .contact__input_chkbox{
        width: 20px;
        height: 20px;
        margin-right: 7px;
      }
}


