.footer__items{
    display: flex;
    justify-content: space-between;
    padding-bottom: 3.125vw;
  }

  @media screen and (max-width: 500px) {
    .footer__items{
        flex-direction: column;
        align-items: center;
      }
    
  }