.modal__title{
    border-bottom: 1px solid white;
    color: black;
    margin: 0 20px 0 20px;
    font-weight: 400;
    font-size: 39.6693px;
    line-height: 49px;
    font-family: 'Alethia', 'sans-serif';
    font-size: 37px;
}
