.info__container_text{
    width: 31.9vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:1.72vw
  }

  @media screen and (max-width:500) {
    .info__container_text{
        margin-top: 4.72vw;
      }
  }