.price__container{
    padding-top: 14.6vw;
    padding-left: 8.3vw;
    display: block;
    max-width: 768px;
    
  }

@media screen and (max-width:500px) {
    .price__container{
        padding-left: 0;
        display: flex;
            flex-direction: column;
            align-items: center;
        
      }
}