.logo{
    font-size: 36px;
    letter-spacing: 4%;
    font-family: 'Prata', Arial, sans-serif;
}


@media screen and (max-width:1280px){
    .logo{
      font-size: 24px;
    }
}

@media screen and (max-width:500) {
    .logo{
        margin-bottom: 1.5vw;
      }
}