.footer__logo_container{
    margin-top: 3.37vw;
    margin-left: 8.3vw;
    text-align: left;
  
  }

  @media screen and (max-width: 500px) {
   
    .footer__logo_container{
        text-align: center;
        margin-left: 0;
    }

    
  }